{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - accessform_msg: an optional message to go along with the form
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *  page--user--login.html.twig might be better
 * @ingroup themeable
 */
#}
{{ {'#cache': {'max-age': 0}} }}

{% if accessform_msg %}
<h3>{{accessform_msg}}</h3>
{% endif %}

<form{{ attributes }}>
  {{ children }}
</form>